@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: rgba(0, 0, 0, 0.03);
  min-height: calc(100vh - 184px);
}

.side-menu > ul {
  height: 100%;
}

.inventory,
.customers,
.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 32px;
}
